{% comment %}
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {% section 'video' %}
      </div>
    </div>
  </div>
</div>

{% endcomment %}

{% for block in section.blocks %}
{% case block.type %}
      {% when 'rich-text' %}
      {% include 'rich-text-on-page' %}
      {% when 'video' %}
      {% include 'video-on-page' %}
    {% endcase %}
{% endfor %}

{
  "%schema%"
}{
  "name":"Videos",
  "blocks":[
    {
      "type":"rich-text",
      "name":"Rich text",
      "settings":[
        {
          "type":"checkbox",
          "id":"full_width",
          "label":{
            "de":"Breitbild-Display",
            "en":"Wide display",
            "es":"Pantalla ancha",
            "fr":"Affichage large",
            "it":"Visualizzazione ampia",
            "ja":"ワイドディスプレイ",
            "nl":"Brede weergave",
            "pt-BR":"Exibição ampla",
            "zh-CN":"宽显示屏",
            "zh-TW":"寬螢幕"
          }
        },
        {
          "type":"text",
          "id":"section_title",
          "label":{
            "de":"Titel",
            "en":"Heading"
          },
          "default":{
            "de":"Reden Sie über Ihre Marke",
            "en":"Talk about your brand"
          }
        },
        {
          "type":"richtext",
          "id":"text",
          "label":{
            "de":"Text",
            "en":"Text"
          },
          "default":{
            "en":"<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          }
        },
        {
          "type":"select",
          "id":"text_size",
          "label":{
            "de":"Größe",
            "en":"Size"
          },
          "default":"medium",
          "options":[
            {
              "label":{
                "de":"Klein",
                "en":"Small"
              },
              "value":"small"
            },
            {
              "label":{
                "de":"Mittel",
                "en":"Medium"
              },
              "value":"medium"
            },
            {
              "label":{
                "de":"Groß",
                "en":"Large"
              },
              "value":"large"
            }
          ]
        }
      ]
    },
    {
      "type":"video_url",
      "id":"video_link",
      "label":{
        "de":"Video-Link",
        "en":"Video link",
        "es":"Enlace de video",
        "fr":"Lien de la vidéo",
        "it":"Link video",
        "ja":"ビデオリンク",
        "nl":"Videolink",
        "pt-BR":"Link do vídeo",
        "zh-CN":"视频链接",
        "zh-TW":"影片連結"
      },
      "accept":[
        "youtube"
      ],
      "default":"https://www.youtube.com/watch?v=_9VUPq3SxOc"
    }
  ]
}{
  "%endschema%"
}